@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">*@
        <li class="nav-link ">

            @* I don't want users to be able to manage their accounts *@
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-info" })*@
            <span class="text-info">@("Hello " + User.Identity.GetUserName() + "!")</span>
        </li>
        <li class="nav-link">
            <a class="text-danger" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
        @*</ul>*@
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@

    @* I don't want people to be able to register *@
    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    <li class="nav-link ">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-info text-small" })</li>
    @*</ul>*@
}
