/* Metropolis Regular */
@font-face {
    font-family: "Metropolis";
    src: url("../mozilla-protocol/core/protocol/fonts/Metropolis-Medium.woff") format("woff");
    src: url("../mozilla-protocol/core/protocol/fonts/Metropolis-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Metropolis Bold */
@font-face {
    font-family: "Metropolis";
    src: url("../mozilla-protocol/core/protocol/fonts/Metropolis-Bold.woff") format("woff");
    src: url("../mozilla-protocol/core/protocol/fonts/Metropolis-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
