section.featured-posts .text-inner {
    padding: 7.5% 30px;
}

form .category button {
    color: #2b90d9;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    color: inherit;
    text-decoration: none;
    border: none;
    background: none;
}

body > div > section.intro > div > div > div.widget.search.col-lg-6 > form > div > input[type="search"] {
    margin: auto;
}
.img-fluid {
    max-width: 100%;
    height: unset;
    width: 750px;
}

.validation-summary-errors ul {
    list-style: none;
}

.noImagePlaceHolder {
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.searchPostResult {
    width: 105%;
    width: -webkit-fill-available;
}

div.date {
    font-size: 12px;
}

.latest-posts-aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > div > div > div > aside > div.widget.latest-posts > div > a:nth-child(2) > div > div.title > div > div.comments {
    margin: 0;
}
