/* your styles go here */
body {
    margin: 0px;
    padding: 0px;
}

ul.social-menu * {
    font-size: 25px;
}

body > div.container.body-content {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
