/* your styles go here */
body {
    margin: 0px;
    padding: 0px;
}

body > div.container.body-content {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

body > div > footer > div.container > div > div > div.contact-details > ul * {
    font-size: 25px;
}
